body{
    background-color: blue;

}

.container{
    background-color: silver;
    width: 300px;
    height: 200px;
    text-align: center;
    align-items: center;
    border: 2px solid #333;
    box-shadow: #333;
    border-radius: 7px;
   margin-top: auto;
   justify-content: center;
   transform: translate(90%, 60%);
}

input[type='email'],
input[type='password']{
    border: 1px solid yellowgreen;
    border-radius: 4px;
    height: 20px;
    
}

input[type='submit']{
    color: white;
    background-color: chocolate;
    width: 100px;
    cursor: pointer;
}

